body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmxwZjVrNXdjOGZtY3EyYnNqcjB2ZjR3MnZkaGdsb3d0bGpmd3RxdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUPJPIGBNO0bHPzNfy/giphy.webp);
  background-size: cover;
}
.container {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.container h1, h2 {
  color:rgb(215, 233, 58);
}

.buttons {
  margin-top: 20px; 
}
.btn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: #fffb0b;
  color: rgb(22, 63, 247);
  border-radius: 15px;
}
.btn:hover {
  background-color: #857df8;
}

& .kirby {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}